<h2>Bonjour {{ provider.name }},</h2>

        <p>
            Nous vous informons qu’un nouvel utilisateur s’est affilié à votre service via notre plateforme <strong>Deploily</strong>.
        </p>

        <p>
            <p>
                <strong>Détails de l'utilisateur :</strong><br>
                ➤ Nom : <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
                ➤ Email : <strong>{{ user.email }}</strong><br>
                ➤ Service : <strong>{{ service_name }}</strong><br>
                ➤ Plan choisi : <strong>{{ plan_name}}</strong>
            </p>
        </p>

        <div class="highlight">
            🎉 Ce client bénéficie d'une <strong>remise de 5%</strong> car il provient de notre réseau dans le cadre du contrat en cours entre <strong>Transformatek</strong> et votre société  <strong > {{ provider.name }}</strong> .
        </div>

        <p>
            Merci de bien vouloir traiter cette souscription en tenant compte de cette condition.
        </p>

        <p>Cordialement,</p>
        <p><strong>L’équipe Deploily</strong></p>
