<h2>Hello {{ user.first_name }},</h2>
        <p>This is a reminder that your subscription is set to expire in <strong>{{ days }}</strong> day(s).</p>
        <ul>
            <li><strong>Service:</strong> {{ subscription.service_plan.service.name }}</li>
            <li><strong>Expiration Date:</strong> {{ expiration_date }}</li>

        </ul>
        <p>To ensure continued access, please renew your subscription before it expires.</p>
        <p>If you have any questions, feel free to contact us at <strong>(+213) 043-78-84-69</strong> or <strong>(+213) 0661-55-77-30</strong>.</p>
        <p>Thank you for choosing Deploily.</p>
