<p>Hello Admin,</p>

    <p>A new response has been added to a support ticket.</p>

    <hr>

    <p><strong>Ticket ID:</strong> {{ ticket.id }}</p>
    <p><strong>Created by:</strong> {{ ticket.created_by.first_name }} {{ ticket.created_by.last_name }}</p>

    <hr>

    <p><strong>Response Message:</strong></p>
    <p>{{ ticket.message }}</p>

    <hr>

    <p>
        👉 <a href="https://admin.deploily.cloud/admin/supportticket-response/edit/{{ ticket.id }}" target="_blank">
            View the support ticket response
        </a>

    </p>

    <br>
    <p>Support System</p>
