<h2>Échec du déploiement</h2>
        <p>
            Bonjour <strong>{{ user.first_name }} {{ user.last_name }}</strong> ({{ user.email }}),
        </p>
        <p>
            Nous vous informons que le déploiement de l'application <strong>{{ application }}</strong> a échoué.
        </p>

        <p>
            <strong>Détail de l’erreur :</strong><br>
            <span style="display: block; background-color: #f8d7da; color: #721c24; padding: 10px; border-left: 4px solid #f5c6cb; border-radius: 4px; margin-top: 5px;">
                {{ message }}
            </span>
      </p>
       
        <p>
            Nous vous prions de nous excuser pour la gêne occasionnée.<br>
            — L’équipe Deploily
        </p>
