<h2>Bonjour {{ user.first_name }},</h2>

        <p>
            Nous sommes ravis de vous informer que votre
            <strong>période d’essai gratuite</strong> a bien commencé.
        </p>

        <p>
            Vous pouvez dès maintenant découvrir et tester le service
            <strong>{{ service_name }}</strong>.
        </p>

        <ul>
            <li><strong>Nom du service :</strong> {{ service_name }} / {{ plan_name }}</li>
            <li><strong>Type :</strong> Période d’essai gratuite</li>
        </ul>

        <p>
            💡 Aucun paiement n’est requis pendant la période d’essai.
            À la fin de celle-ci, vous pourrez choisir de passer à un abonnement payant
            afin de continuer à utiliser le service sans interruption.
        </p>

        <p>
            Pour toute question ou information complémentaire, vous pouvez nous joindre au
            <strong>(+213) 043-78-84-69</strong> ou au
            <strong>(+213) 0661-55-77-30</strong>.
        </p>

        <p>Nous restons à votre disposition pour toute assistance complémentaire.</p>
        <p>Merci pour votre confiance.</p>
