<h2>Déploiement de l'application terminé</h2>
        <p>
            Bonjour <strong>{{ user.first_name }} {{ user.last_name }}</strong> ({{ user.email }}),
        </p>
        <p>
            Nous sommes heureux de vous informer que l'application <strong>{{ application }}</strong> a été déployée avec succès et est maintenant en ligne.
        </p>
        <p>
            Vous pouvez accéder à votre application et commencer à l'utiliser immédiatement.
        </p>
        <p>
            Notre équipe reste à votre disposition en cas de besoin ou si une action complémentaire est nécessaire.
        </p>
        <p>
            Merci pour votre confiance.<br>
            — L’équipe Deploily
        </p>
