<h2>Bonjour {{ user.first_name }},</h2>
        <p>Notre équipe vous contactera dans les plus brefs délais.<br>
            Vous pouvez également nous joindre au <strong>(+213) 043-78-84-69</strong> ou au <strong>(+213) 0661-55-77-30</strong> pour toute question ou information complémentaire.</p>
        <ul>
            <li><strong>Fournisseur :</strong> {{ provider.name }}</li>
            <li><strong>Site Web :</strong> <a href="{{ provider.website }}">{{ provider.website }}</a></li>
            <li><strong>Email Support :</strong> {{ provider.mail_support }}</li>
            <li><strong>Email Commercial :</strong> {{ provider.mail_sales }}</li>
            <li><strong>Téléphone :</strong> {{ provider.phone_support }}</li>
            <li><strong>Montant total :</strong> {{ total_price }} DA</li>


        </ul>

        {% if provider.subscription_url %}
    <div style="margin: 30px 0; padding: 20px; background-color: #f8f9fa; border-left: 5px solid #0d6efd; border-radius: 6px;">
        <p style="font-size: 16px; margin: 0;">
            🙏 <strong>Prière d’utiliser le lien ci-dessous pour créer votre compte et bénéficier d’une remise de 5 %.</strong>
        </p>
        <p style="margin-top: 10px;">
            <a href="{{ provider.subscription_url }}" style="color: white; background-color: #0d6efd; padding: 10px 20px; text-decoration: none; border-radius: 4px; display: inline-block;">
                👉 Je crée mon compte et bénéficie de 5 %
            </a>
        </p>
    </div>
{% endif %}


        <p>Nous restons à votre disposition pour toute assistance complémentaire.</p>
        <p>Merci pour votre confiance.</p>
